/* Page2 */

#userHomePage {
    font-family: 'Karla';
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.grey-zone {
    width: 100%;
    height: 450px;
    background-color: #36AD89;
    z-index: -1;
    margin-bottom: -450px;
}

.pageContent {
    margin-top: 50px;
}

.gardenViewSection {
    display: flex;
    flex-direction: column;
    background-color: #36AD89;
    margin-top: 4%;
    margin-bottom: 4%;
}

.commoGardenViewSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 4%;
    margin-bottom: 4%;
}

.gardenViewHeading {
    color: black;
    margin-left: 10%;
    text-align: left;
    font-size: 30px;
}

.gardenView {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 10%;
}